<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/body.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>

    <style>
        .gradient-custom-3 {
            background: #84fab0;
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
            background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }

        .gradient-custom-4 {
            background: #84fab0;
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
            background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }
    </style>

    <title>Page Not Found</title>
</head>

<body>
    <section class="vh-100 bg-image"
        style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/18/De_La_Salle_University_%28DLSU%29_-_Saint_La_Salle_Hall%2C_Night_View_%28Taft_Ave.%2C_Malate%2C_Manila%29%282015-01-15%29_2.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-8">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <img class="text-center d-block mx-auto mb-4"
                                    src="https://cdn-icons-png.flaticon.com/512/603/603184.png" alt="Page not Found"
                                    width="300" height="300">
                                <h1 class="text-center">Oops!</h1>
                                <h3 class="text-center">There seems to be a problem. </h3>
                                <br>
                                <br>
                                <p class="text-center mb-5">The page you are looking for might have been removed or is
                                    temporarily unavailable.</p>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-success btn-lg gradient-custom-4 text-body"
                                        onclick="history.back()">
                                        < Go Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>

</html>